# {{ ansible_managed }}
# Modules from the openstack-ansible-openstack_hosts role
{% for module in openstack_host_kernel_modules %}
{{ module }}
{% endfor %}

# Host-specific dynamic modules
{%
    for module in openstack_host_specific_kernel_modules if (
        groups[module.group] is defined and
        inventory_hostname in groups[module.group] and
        module.pattern + '=m' in (modules.content | b64decode)
    )
%}
{{ module.name }}
{% endfor %}
